body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.text-muted {
    color: #777
}
.text-primary {
    color: #fed136
}
p {
    font-size: 14px;
    line-height: 1.75
}
p.large {
    font-size: 16px
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}
a {
    color: #337ab7
}
a:hover,
a:focus,
a:active,
a.active {
    color: #23527c
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222
}
.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136
}
.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}
.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136
}
.btn-xl .badge {
    color: #fed136;
    background-color: #fff
}
section {
    padding: 50px 0
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 45px
}
.service-heading {
    margin: 15px 0;
    text-transform: none
}
#tile .tile-item {
    margin: 0 0 15px;
    right: 0
}
#tile .tile-item .tile-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#tile .tile-item .tile-link .tile-hover {
    background: rgba(128, 128, 128, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#tile .tile-item .tile-link .tile-hover:hover {
    opacity: 1
}
#tile .tile-item .tile-link .tile-hover .tile-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#tile .tile-item .tile-link .tile-hover .tile-hover-content i {
    margin-top: -12px
}
#tile .tile-item .tile-link .tile-hover .tile-hover-content h3,
#tile .tile-item .tile-link .tile-hover .tile-hover-content h4 {
    margin: 0
}
#tile .tile-item .tile-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}
#tile .tile-item .tile-caption h4 {
    text-transform: none;
    margin: 0
}
#tile .tile-item .tile-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}
#tile * {
    z-index: 2
}
@media (min-width: 767px) {
    #tile .tile-item {
        margin: 0 0 30px
    }
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}
.tile-modal {
    padding: 0 !important;
}
.tile-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 30px 0;
    text-align: center;
}
.tile-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}
.tile-modal .modal-content p {
    margin-bottom: 30px
}
.tile-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}
.tile-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}
.tile-modal .modal-content img {
    margin-bottom: 30px
}
.tile-modal .close-modal {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 2;
}
.tile-modal .close-modal:hover {
    opacity: .3
}
.tile-modal .close-modal .lr {
    height: 50px;
    width: 1px;
    margin-left: 25px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}
.tile-modal .close-modal .lr .rl {
    height: 50px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}
.tile-modal .modal-backdrop {
    opacity: 0;
    display: none
}
::-moz-selection {
    text-shadow: none;
    /*background: #fed136*/
}
::selection {
    text-shadow: none;
    /*background: #fed136*/
}
img::selection {
    background: 0 0
}
img::-moz-selection {
    background: 0 0
}
body {
    webkit-tap-highlight-color: #fed136
}

#map {
    height: 380px;
    width: 100%;
}
/* Accordian Panel */
.panel {
    border: none;
    box-shadow: none;
    text-align: left;
}
.panel-default>.panel-heading {
    background-color: transparent; 
    border: none;
}
.panel-title {
    text-align: center;
}
.panel-title>a,.panel-title>a:hover{
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}
.accordian-icon {
    margin-right:7px;
}

.panel-collapse {
    padding: 10px 5px;
}

.panel-collapse ul {
    list-style: none;
}
.panel-collapse ul li {
    margin-bottom:15px;
}

.info-text {
    text-align: left;
    padding: 8px 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #222; 
    background-color: #f0f0f0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #ddd;
}
ul.social-buttons li a:hover .fa-facebook {
    color: #3b5998;
}
ul.social-buttons li a:hover .fa-twitter {
    color: #4099ff;
}
ul.social-buttons li a:hover .fa-google-plus {
    color: #dd4b39;
}
ul.social-buttons li a:hover .fa-github {
    color: #333333;
}

#accordianCalories {
    text-align: left;
}

.form-main {   
    display: inline-block;
    width: 500px;
    max-width: 100%;
    text-align: left;
    background: #f0f0f0;
    padding: 15px 30px 25px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.form-submit {
    background-color: #fed136;
    color: #fff;
}

.form-main > h3 {
    text-align: center;
    padding: 10px 0;
}

.form-value {
    display: inline-block;
    width: calc(100% - 90px);
}

.form-unit, .form-unit-def {
    display: inline-block;
    width: 85px;
}

.timeOpt {
    display: none;
}

input[type="radio"][name="unit"]:checked + span{
    font-weight: bold;
}

#outputCalories, #outputAbsorption {
    padding: 15px 0 5px;
    font-size: 1.2em;
}

#customTreeInput {
    display: none;
}

.modal-body{
	background:gray;
	opacity:.65;
	border-radius:15px;
}
